---
layout: page
title: Archives
---


{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
      <h3 class="sub-header">{{ post.date | date: '%B %Y' }}</h2><ul>
    {% endif %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% comment %}

{% for post in site.posts %}
  * {{ post.date | date_to_string }} &raquo; [ {{ post.title }} ]({{ post.url }})
{% endfor %}

{% endcomment %}