body{
    margin-top: 75px;
    background-color:#000000;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    //body {font: 15px/1.75em 'Lora','Open Sans', Helvetica, Arial, sans-serif; color:#FFFFFF; font-weight: 300;}
}


@media (min-width: 768px) { /* tablets and up */
    .group2 {
        text-align: right;
    }
}

.br-space {
   display: block;
   margin-bottom: 50px;
   visibility: hidden;
}

#centerdiv{
    margin: 0 auto;
} 

/*Overriding Bootstrap schemes*/

.panel-default > .panel-heading
{
    color: #000; /*white*/
    background-color: #c43e3e; /*red*/
    border-color: #872525; /*dark red*/
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #f8f8ff;
    border-radius: 15px;
    color: #872525;
    border: 2px solid #ddd;
}

h3,h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;

}
/*
p{
    font-family: 'Lora','Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}*/


p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.lead {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}


/* margin */

.br-small {
   display: block;
   margin-bottom: 20px;
   visibility: hidden;
}


/* hr index */

.hr-shadow {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

/* hr in about page*/

hr.style-eight {
  border: 0;
  border-top: 4px double #8c8c8c;
  text-align: center;
  margin: 30 0;
}
hr.style-eight:after {
  content: '\2665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #8c8c8c;
  font-size: 18px;
}

/*overide brand*/
.navbar-brand {
  line-height:15px;
  padding-top:20px;
  padding-bottom:10px;
}

.navbar-brand small {
  display:block;
  font-size:10px;
  color:#4dc9f6;
}
.list-group-mine .list-group-item{
     background-color: #2F2F2F;
}

