<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <!--toggle button visible in mobile-->
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <span color:Tomato>
               
                <!-- <i style="font-size: 40px; color: red;"  class="fa fa-angle-double-left"  aria-hidden="true"> </i> -->
                <!-- <img style="margin:0; padding: 0%;" height="45"  alt="Logo" src="images/logo.png">  -->
                <a class="title" href="https://jithesh.io" class="navbar-brand"
                    onmouseover='this.style.color="#4dc9f6"'
                     onmouseout='this.style.color="#C0FF40"'
                 > JITHESH
                </a> 
                <i style="font-size: 40px; color: red;" class="fa fa-angle-right"  aria-hidden="true"></i>
            </span>
        </div>
        <!--menu list items-->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
             
            <form class="navbar-form navbar-right" role="search" action="{{site.baseurl}}/search/"  method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id = "search-box", name="query">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            
            <ul class="nav navbar-nav navbar-right ">
                <!--<li class="active"><a href="{{site.baseurl}}/index.html">Home</a></li>-->
                <!--<li><a href="contact.html">Contact</a></li>-->
                <li ><a href="{{site.baseurl}}/about/">Projects</a></li>
                <li ><a href="{{site.baseurl}}/about/">About</a></li>
            </ul>
        </nav>
    </div>
</header>

