<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="share-box"> 
      
        <a href="https://twitter.com/jithesmenon"<i class="fa fa-twitter fa share-button"></i></a>

       <a href="https://www.linkedin.com/in/jithesh-chandrasekharan-a0020a77"<i class="fa share-linkedin fa-linkedin fa share-button"></i></a>                         
        <a href="mailto:?subject={{ page.title }}&amp;body=Regarding {{ site.url }}"><i class="fa fa-envelope fa share-button"></i></a>                                  
</div>
