

<!-- Similar Posts -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Similar Posts</h4>
    </div>
    <ul class="list-group">
        {% for post in site.tags[page.tags.first] limit:5 %}

         {% if post.title != page.title and post.title != blank %}
        <li class="list-group-item">
            <a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">
                {{post.title}}</a> 
        </li>
            {% endif %}
        {% endfor %}

    </ul>
</div>

<!--References-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>References</h4>
    </div>
    <ul class="list-group">
         {% for refer in page.references %}
     {% assign words = {{refer}} | split: ':' %}
       <li  class="list-group-item"><a href= {{ words.last }} target="_blank" > 
           <i class="fa fa-external-link" aria-hidden="true"></i>
           {{ words.first }}
           </a></li>
        {% endfor %}
    </ul>
</div
>
<!--Categories-->
{% include categories.html %}
 