
<!--Create a sorted array of tags-->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}
  <aside>
 <h3>Recent</h3>
 <ul class="archives">
 				 {% for post in site.posts limit:5 %}
                    <li><a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></li>
                {% endfor %}
            </ul>

 <h3>Archives</h3>

 <ul class="archives">
 				<li><a href="{{site.baseurl}}/tags/">All posts</a></li>
                {% for tag in sortedTags %}
                    <li><a href="{{site.baseurl}}/tags/#{{ tag | cgi_escape }}">{{ tag }} ({{ site.tags[tag].size }})</a></li>
                {% endfor %}
            </ul>
<h3>RSS</h3>
<p><a  href="{{site.baseurl}}/feed.xml" title="RSS feed">Subscribe</a></p>

<div class="icon-bar"> 
<a href="https://github.com/GitJit?tab=repositories" title="RSS feed"><img src="/images/github.svg" alt="Git" ></a>
<a href="http://www.linkedin.com" title="RSS feed"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
<a href="https://twitter.com/JitheshMenon" title="RSS feed"><img src="/images/twitter.svg" alt="Twitter"></a>
</div>

</aside>
