<!--sidebar-->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}


    <div class="well text-center">
        <p class="lead">
            Don't want to miss updates? Please click the below button!
        </p>
        <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
    </div>
    <!-- Latest Posts -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Latest Posts</h4>
        </div>
        <ul class="list-group">
             {% for post in site.posts limit:5 %}
                <li class="list-group-item"><a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></li>
             {% endfor %}
        
        </ul>
    </div>
    <!--Tags-->
    {% include categories.html %}
    



