<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="share-box"> 
      
        <a href="https://twitter.com/JitheshMenon"<i class="fa fa-twitter fa share-button"></i></a>

       <a href="https://www.linkedin.com/in/jithesh-chandrasekharan-a0020a77"<i class="fa share-linkedin fa-linkedin fa share-button"></i></a>                         
        <a href="mailto:jitheshc@gmail.com?Subject={{ site.title }}" target="_blank"><i class="fa fa-envelope fa share-button"></i></a>                                  
</div>-->


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Social</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
               <span><a href="#"><i class="fa fa-stack-overflow"></i></a></span>
               <span><a href="#"><i class="fa fa-twitter"></i></a></span> 
               <span><a href="#"><i class="fa fa-linkedin"></i></a></span>  
        </li>
    </ul>
</div
