<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jithesh</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A programming journal by Jithesh">
    <meta name="author" content="Jithesh Chandrasekharan">
    {% seo %}
    <!-- Bootstrap CSS file -->
    <link href="{{ site.baseurl }}/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />

         <!--Google Fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{site.baseurl}}/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    
    <!--custom css-->
    <link href="{{ site.baseurl }}/blog.css" rel="stylesheet" />

</head>

<body>

    <!--header-->
        {% include menu.html %}
    <!--end header-->

    <div id="body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {{content}}
                </div>
               
            </div>
        </div>
    </div>

<footer>
    {% include footer.html %}
</footer>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
